

.root {
  height: var(--HEADER);
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background: var(--TOOLBAR_BACKGROUND);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ecf0f1;
  font-size: 25px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
